<div class="container">
    <!--div class="alert alert-info"><h3 class="frontpage-banner"><%= i18n('login.supply_demand_header') %> </h3></div-->

        <!--img src="/images/piab-logo.png" class="form-signup-heading" style="position:relative;left:30%;padding:10px;" height="120px" /-->
        <div>
	         <% if (req.session.flash && req.session.flash.error) { %>
	             <div style="height:50px;"><span class="alert alert-warning" ><%=req.flash('error')%></span></div>
	        <% } else if (req.session.flash && req.session.flash.success) { %>
	            <div style="height:50px;"><span class="alert alert-success"><%=req.flash('success')%></span></div>
	        <% } %> 
    	</div>

        <!--div class="form-group">
		    <label for="sampletext">Search Text</label>
		    <input type="text" class="form-control" name="searchText" id="searchtext" aria-describedby="searchtexthelp" placeholder="Model Number, Part of title, .. anything">
		    <small id="searchtexthelp" class="form-text text-muted">Ex: iphone 7, surface pro 4, MP2H2LL/A</small>
		  </div>
        <button type="submit" class="btn btn-primary">Submit</button-->

    <form class="form-signin" id="surveyForm" >
    
    <div class="row">
    <%if (results) {%>
    	
     	<% if (results.length == 0) { %>
    		No Questions to show.
    	<% } else { %>
    		
    		<% results.forEach(function(question,i) { %>
    		<div class="col s12">
	    		<div class="card teal lighten-4">
		            <div class="card-content black-text">
		              <!--span class="card-title">Card Title</span-->
		              <% if (req.session.isAdmin) { %>
		              	<div class="row">
		              		<div class="col s10">
			              		<p><%=question.question%></p>
			              	</div>
		              		<div class="col s1">
			              		<a href="#" onClick="javascript:editQuestion(<%=question.id%>)"><i class="small material-icons">mode_edit</i></a>
			              	</div>
			              	<div class="col s1">
			              		<a href="#" onClick="javascript:deleteQuestion(<%=question.id%>)"><i class="small material-icons">delete</i></a>
			              	</div>
		             	</div>
		              <% } else { %>
		              	<div class="row">
		              		<p><%=question.question%></p>
		              	</div>
		              <% } %>	
		              <div class="row" style="margin:0">	
			              <div class="">
			              	<div class="col s2">
			              		<span id="v<%=question.id%>">Votes : <%=question.votes%> </span>
			              	</div>
			              	<div class="col s2 offset-s6">
			              		<a href="#" onClick="javascript:updatelikes(<%=question.id%>, true)"><i class="small material-icons">thumb_up</i></a>
			              		<span id="l<%=question.id%>"><%=question.likes%> </span>
			              	</div>
			              	<div class="col s2">	
			              		<a href="#" onClick="javascript:updatelikes(<%=question.id%>, false)"><i class="small material-icons">thumb_down</i></a>
			              		<span id="dl<%=question.id%>"><%=question.dislikes%> </span>
			              	</div>	
			              </div>
		          		</div>
		            </div>
		            <div class="card-action">
		            	<% question.options.forEach(function(option,j) { %>
	                  		<input name="q<%=question.id%>" type="radio" id="o<%=option.id%>" value="<%=option.id%>"/>
      						<label for="o<%=option.id%>" class="black-text"><%=option.name%></label>&nbsp;&nbsp;
	                  	<%});%>
	                  	<div class="right"><a class="waves-effect waves-light btn" style="margin-top:-5px;" onClick="javascript:submitSurvey(<%=question.id%>)">Submit</a></div>
		            </div>
	          	</div>
	        </div>  	
          	<% }); %>
    	<% } %>
    	
    <% } %>
	</div>

	</form>

</div> <!-- /container -->

 <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      	<h5>Add / Edit Question</h5>
	      <div class="row">
	        <div class="input-field col s12">
	          <input placeholder="Question here ... " id="question" type="text" class="validate">
	          <!--label for="question">Question</label-->
	        </div>
	      </div>  
	      <div class="chips-placeholder"></div>
    </div>
    <div class="modal-footer">
      <!--a href="#!" onClick="javascript:addEditQuestion()" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a-->
    </div>
  </div>     

<script>

$('.chips-placeholder').material_chip({
    placeholder: '+ Option',
    secondaryPlaceholder: 'Add Options',
  });

function newQuestion() {
	console.log("inside question");
	$('.modal-footer').append('<a href="#!" onClick="javascript:addNewQuestion()" class="modal-action modal-close waves-effect waves-green btn-flat">Add</a>');
	$('#modal1').modal('open');
}

function addNewQuestion() {
	var question = $('#question').val();
	var options = $('.chips-placeholder').material_chip('data');
	$.post( "/question/add", { question: question, options: options }, function (result){
        console.log("Result : " + JSON.stringify(result));
        if (result.added) {
        	alert("New Question was successfully added");
        	window.location = "/";
        } else {
        	alert("Oops. There is something wrong. Please try submitting after sometime.")
        }
    });
}

function deleteQuestion(qid) {
	if (confirm("Do you really want to delete the Question?")) {
		$.post( "/question/delete", { qid: qid }, function (result){
	        console.log("Result : " + JSON.stringify(result));
	        if (result.deleted) {
	        	alert("Question deleted sucessfully");
	        	window.location = "/";
	        } else {
	        	alert("Oops. There is something wrong. Please try submitting after sometime.")
	        }
	    });
	}
}

function edit1Question(qid) {
	var question = $('#question').val();
	var options = $('.chips-placeholder').material_chip('data');
	$.post( "/question/update", { qid: qid, question: question, options: options }, function (result){
        console.log("Result : " + JSON.stringify(result));
        if (result.updated) {
        	alert("Question updated sucessfully");
        	window.location = "/";
        } else {
        	alert("Oops. There is something wrong. Please try submitting after sometime.")
        }
    });
}

function submitSurvey(qid) {
	var oid = $('input[name=q' + qid + ']:checked', '#surveyForm').val();
	if (oid == undefined) {
		alert("Select an option to submit !");
	} else {
		console.log(oid);
		$.post( "/survey/update", { qid: qid, oid: oid }, function (result){
            console.log("Result : " + JSON.stringify(result));
            if (result.updated) {
            	alert("Thanks for participating. Your answer was accepted");
            	$("#v"+qid).text("Votes : " + result.votes);
            } else {
            	alert("Oops. There is something wrong. Please try submitting after sometime.")
            }
        });
	} 
}

function updatelikes(qid, like) {
	$.post( "/survey/like", { qid: qid, like: like }, function (result){
        console.log("like result : " + JSON.stringify(result));
        if (like) {
        	$("#l"+qid).text(result.likes);
        } else {
        	$("#dl"+qid).text(result.dislikes);
        }
    });
}
</script>